            
            
            .typographyTypographyTesttoken 
            {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
              letter-spacing: 0px;
              text-indent: 0px;
              margin-bottom: 0px;
              }            
            
            .typographyTypographyButton 
            {
              font-family: "Sanchez";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              letter-spacing: 0em;
              text-indent: 0px;
              margin-bottom: 0px;
              }